<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083215934132-c9975hr428uptsmn3kd48omnirlhbuju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083215934132-c9975hr428uptsmn3kd48omnirlhbuju</string>
	<key>API_KEY</key>
	<string>AIzaSyBy3JSI3bG9qohF6NmeFVm4kC6lpGNXve4</string>
	<key>GCM_SENDER_ID</key>
	<string>1083215934132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>berkayIdentifier.WhatsAppCloneSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>whatsappcloneswiftui-b17a6</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappcloneswiftui-b17a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083215934132:ios:859c3584c7aa386293dde1</string>
</dict>
</plist>